main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

html {
  overflow-y: scroll;
}

:root {
  --primary: #8c54ff;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--darker);
  font-family: 'Poiret One', cursive;
  background-image: url(./assets/background.jpeg);
  background-size: 150%;
  padding-bottom: 60px;
  padding-top: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
}

/* h1 styling for each page */
#about h1, #work h1, #contact h1, #resume h1 {
  color: white;
  background-color: #051b42;
  padding: 0px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-shadow: 1px 1px 2px black, 0 0 25px #f2a300, 0 0 5px white;
  margin-bottom: 15px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

/* Header/Nav Styling */
header {
  top: 0;
  height: 150px;
  width: 100%;
  z-index: 5;
  background-image: url(./assets/AdobeStock_301046542.jpeg);
  background-size: cover;
  position: fixed;
}

header a {
  color: var(--light);
}

header h1 {
  color: white;
  text-align: center;
  padding-top: 5px;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-repeat: no-repeat;
}

.nav-item {
  margin-right: 75px;
  list-style: none;
}

.nav-item a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* About Me Styling */

#about, #work, #contact, #resume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#about p {
  text-align: center;
}

.about-container {
  width: 75%;
}

img {
  max-width: 100%;
  border-radius: 100px;
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

/* styling for work section */

#work h4, #work p {
  /* background-image: linear-gradient(navy, yellow); */
  width: min-content;
  color: white;
  background-color: black;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 5px;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  z-index: 1;
}

.flexbox-item {
  border: 3px solid red;
  height: 300px;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  overflow: hidden;
  opacity: .8;
  position: relative;
}

.flexbox-item:hover {
  opacity: 1;
  border-radius: 20px;
}

.flexbox-item-1 {
  width: 100%;  
  background-image: url(./assets/anime.jpg);
  background-size:cover;
  
}

.flexbox-item-2 {
  background-image: url(./assets/ambience.jpeg);
  background-size: cover;
  background-position: center;
}

.flexbox-item-3 {
  background-image: url(./assets/AdobeStock_269021997.jpeg);
  background-size: cover;
  background-position: top;
}

.flexbox-item-4 {
  background-image: url(./assets/AdobeStock_279212049.jpeg);
  background-size: cover;
  background-position: center;
}

.flexbox-item-5 {
  background-image: url(./assets/AdobeStock_377749814.jpeg);
  background-size: cover;
  background-position: center;
}

.flexbox-item-6 {
  background-image: url(./assets/AdobeStock_83490178.jpeg);
  background-size: cover;
  background-position:center;
}

.flexbox-item-2, .flexbox-item-3, .flexbox-item-4, .flexbox-item-5, .flexbox-item-6 {
  width: 40%;
  height: 150px;
  flex-grow: 1;
  flex-shrink: 1;
}

#dep-link:hover {
  text-decoration: underline;
}

#git-icon {
  background-color: black;
  border-radius: 30px;
  font-size: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#git-icon:hover {
  background-color: #15497b;
}

/* Contact Styling */
.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.col-1, .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-1 {
  margin-right: 200px;
}

#contact a {
  color: black;
  font-size: 24px;
}

.icon {
  font-size: 100px;
  color: #08244c;
}

/* Resume Styling */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 75%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  list-style: none;
  text-align: center;
  margin: 0px 20px;
  padding: 10px 50px;
  background-color: #f2a300;
  width: 75%;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#resume div a {
  color: black;
  font-size: 25vh;
  transition: .3s;
}

#resume div a:hover {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Footer Styling */
footer {
  position: fixed; 
  padding: 10px 10px 0px 10px; 
  bottom: 0;
  width: 100%;   
  height: 60px; 
  background: #08244c; 
  opacity: .7;
  z-index: 5;
}

footer:hover {
  opacity: 1 ;
}

#footer-icon-container {
  display: flex;
  justify-content: center;
}

footer span {
  margin-left: 20px;
  font-size: 30px;
}

footer span:hover {
  background-color: black;
  border-radius: 4px;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  body {
    padding-top: 75px;
    padding-bottom: 30px;
  }
  header {
    height: 100px;
  }
  #nav-container {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  .flexbox-container {
    width: 100%;
  }

  #nav-container {
    display: flex;
    flex-wrap: inherit;
    justify-content: center;
  }

  .nav-item {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  .nav-item a {
    padding: 10px;
    margin: 0px;
  }

  header h1{
    width: 100%;
    color: white;
  }

  h1, p, #headshot {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  /* Contact Media Queries */
  .col-1 {
    margin-right: 30px;
  }

  #contact a {
    font-size: 20px;
  }

  /* Resume Media Queries */
  .card-container {
    width: 100%;
  }
  .card {
    width: 90%;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  body {
    padding-top: 75px;
    padding-bottom: 30px;
  }
  header {
    height: 100px;
  }
  #nav-container {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .flexbox-container {
    width: 100%;
  }

  #nav-container {
    display: flex;
    flex-wrap: inherit;
    justify-content: center;
  }

  .nav-item {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  .nav-item a {
    padding: 10px;
    margin: 0px;
  }

  header h1{
    width: 100%;
    color: white;
  }

  h1, p, #headshot {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  /* Work Media Queries */
  .flexbox-item {
    justify-content: center;
    align-items: center;
  }

  .flexbox-item h4 {
    font-size: 9px;
  }

  .flexbox-item p {
    display: none;
  }

  /* Contact Media Queries */
  #contact a {
    font-size: 10px;
  }

  .icon {
    font-size: 50px;
  }

  /* Resume Media Queries */
  .card-container {
    width: 100%;
  }
  .card {
    font-size: 11px;
    padding: 0px;
    padding-top: 10px;
  }
}
