html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-padding-top: 100px;
}

:root {
  --primary: hsl(209, 69%, 16%);
  --secondary: #f2a300;
  --tertiary: hsl(211, 70%, 27%);
  --light: #fafafa;
  --darker: #111111;
  --row-spacing: 1rem;
  --section-spacing: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family: "Playfair Display", serif;
  background-image: url(./assets/background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  line-height: 1.25;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-family: "Stick No Bills", sans-serif;
}

/* h1 styling for each page */
.section-title {
  color: white;
  background-color: var(--primary);
  width: max-content;
  padding: 0px 10px;
  border-radius: 5px;
  font-weight: 600;
  border-style: inset;
}

h4 {
  font-size: 1.75rem;
  font-family: "Stick No Bills", sans-serif;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  font-family: sans-serif;
}

a, .nav-icon {
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

/* Header/Nav Styling */

.header {
  top: 0;
  position: sticky;
  z-index: 50;
  height: 75px;
  background-image: url(./assets/hero.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

nav a {
  text-decoration: underline rgba(0, 0, 0, 0);
  transition: text-decoration-color 0.5s;
}

.nav-icon-container {
  display: flex;
}

.nav-icon {
  font-size: 1.5rem;
}

nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hero {
  background-image: url("./assets/hero.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
}

/* About Me Styling */
.layout {
  margin-bottom: var(--section-spacing);
}
#about {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  z-index: 20;
  margin-top: 6rem;
}

#about p {
  max-width: 70ch;
  background-color: var(--primary);
  border-radius: 5px;
  color: white;
  padding: 0.75rem;
}

.headshot {
  border-radius: 100vh;
  box-shadow: 15px 15px 5px orange;
  width: 350px;
}

/* styling for projects section */
#projects h1 {
  margin-inline: auto;
  margin-bottom: var(--row-spacing);
}

#projects h4 {
  color: white;
  white-space: nowrap;
  padding-bottom: var(--row-spacing);
  font-weight: 700;
}

.project-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70%;
  margin-inline: auto;
  gap: 1.5rem;
  margin-bottom: var(--section-spacing);
}

.flexbox-item {
  height: 300px;
  flex-grow: 1;
  flex-basis: 45%;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px 1px black;
  transition: all 0.5s ease-in-out;
}

.flexbox-item:nth-child(3n-2) {
  flex-basis: 100%;
}

.project-content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  font-size: 2.5rem;
}

.logo-container {
  display: flex;
  column-gap: 0.5rem;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.flexbox-item:hover {
  border-radius: 20px;
  transform: scale(1.02);
}

/* Footer Styling */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  background: var(--tertiary);
  z-index: 5;
  transition: 1s;
}

#footer-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

footer .icon {
  font-size: 2.5rem;
  transition: color 0.7s ease-in-out;
}

footer .icon:hover {
  transition: 0.7s;
  color: var(--secondary);
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .header {
    position: relative;
  }
  #about {
    margin-top: 3rem;
  }
  #about p {
    max-width: 90%;
  }

  .project-container {
    max-width: 90%;
  }

  .flexbox-item {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 576px) {
  #about {
    margin-top: 12rem;
  }

  .hero {
    height: 110vh;
  }
}

@media screen and (max-width: 436px) {
  #about {
    margin-top: 24rem;
  }

  .hero {
    height: 120vh;
  }
}
